NASA MARS NEWS

In [29]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import os
import requests
from selenium.webdriver.chrome.options import Options
from splinter.exceptions import ElementDoesNotExist

In [30]:
#pointing to the directory where chromedriver exists
executable_path = {"executable_path": "users/anali/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [31]:
#visiting the page
#url = "https://mars.nasa.gov/news/"
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
# launch browser
browser.visit(url)

In [32]:
 #check if the page has been loaded
browser.is_element_present_by_name('list_date', wait_time=10)

False

In [33]:
#create HTML object
html = browser.html

In [34]:
#parse HTML with beautiful object
soup = bs(html,"html.parser")

In [35]:
#extract title and paragraph
news_date = soup.find('div', class_='list_date').text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print(f"Date: {news_date}")
print(f"Title: {news_title}")
print(f"Para: {news_p}")

Date: August 14, 2020
Title: Mars Now
Para: The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

    #--------------------------------------------
    # JPL Mars Space Images - Featured Image
    #--------------------------------------------

In [36]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)
#print(soup.prettify())

In [37]:
#Getting the base url
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
print(base_url)

https://www.jpl.nasa.gov/

In [38]:
#Design an xpath selector to grab the image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"
print(xpath)

//*[@id="page"]/section[3]/div/ul/li[1]/a/div/div[2]/img

In [39]:
#Use splinter to click on the mars featured image
#to bring the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()
print(results)

<splinter.element_list.ElementList object at 0x000001CD2BEDE648>

In [40]:
#get image url using BeautifulSoup
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")
#print(img_url["src"])
#test = base_url.append(img_url)
print(str(base_url) + "/n" + str(img_url))
#img_url = soup.find("img", class_="fancybox-image")["src"]
#print(soup.prettify())
featured_image_url = base_url + img_url
print(featured_image_url)


#RESULT: featured_image_url = https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA24053_hires.jpg

https://www.jpl.nasa.gov//n<img class="fancybox-image" src="/spaceimages/images/largesize/PIA24059_hires.jpg" style="display: inline;"/>

TypeError: can only concatenate str (not "Tag") to str

##Mars Weather

In [41]:
# twitter url to visit
url = 'https://twitter.com/marswxreport?lang=en'
# launch browser
browser.visit(url)

In [42]:
# create beautifulsoup object
html = browser.html
soup = bs(html, "html.parser")
#print(soup.prettify())

In [43]:
#find tweet and extract text
mars_weather = soup.find_all('span')
for i in range(len(mars_weather)):
    if ("InSight" in mars_weather[i].text):
        weather = mars_weather[i].text
    break

In [52]:
#Visit the Mars Weather twitter account
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = bs(html, "html5lib")
time.sleep(1)
#mars_weather=soup.findall('head', 'title="([^"]*?)"')
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text
print(mars_weather)
#mars_weather = soup.find('head', 'title')[1].a.text

TypeError: 'NoneType' object is not subscriptable

In [51]:
#weather url and html
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(marsweather_url)
html = browser.html
soup = bs(html, "html.parser")
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

AttributeError: 'NoneType' object has no attribute 'text'

In [ ]:
#Visit the Mars Weather twitter account
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)
#mars_weather=soup.findall('head', 'title="([^"]*?)"')
mars_weather = soup.select("html head title")[0].get_text()
print(mars_weather)
#mars_weather = soup.find('head', 'title')[1].a.text

In [ ]:
#<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">

#InSight sol 597 (2020-08-01) low -91.0ºC (-131.8ºF) high -16.9ºC (1.6ºF)
#winds from the WNW at 8.0 m/s (17.9 mph) gusting to 20.2 m/s (45.1 mph)
#pressure at 7.90 hPa
#</span>

##Mars Facts

In [17]:
url_facts = "https://space-facts.com/mars/"

In [18]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
df_mars_facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameter</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [21]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)
html4 = browser.html
soup4 = bs(html4, 'html.parser')

In [22]:
# First, get a list of all of the hemispheres
links = browser.find_by_css("a.product-item h3")

In [23]:
hemisphere_image_urls = []

# First, get a list of all of the hemispheres
links = browser.find_by_css("a.product-item h3")

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
  hemisphere = {}

 # We have to find the elements on each loop to avoid a stale element exception
  browser.find_by_css("a.product-item h3")[i].click()

 # Next, we find the Sample image anchor tag and extract the href
  sample_elem = browser.find_link_by_text('Sample').first
  hemisphere['img_url'] = sample_elem['href']

 # Get Hemisphere title
  hemisphere['title'] = browser.find_by_css("h2.title").text

 # Append hemisphere object to list
  hemisphere_image_urls.append(hemisphere)

 # Finally, we navigate backwards
  browser.back()

C:\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:536: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  FutureWarning,

In [24]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]